.benefits {
    &__list {
       @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
       }
    }
    
    &__item {
        @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;  
        }

        @media (min-width:768px) {
        width: 354px;    
        }
          
        @media (min-width:1200px) {
        width: 270px;    
        }
    }

    &__decoration {
        @extend %flex-centered;
        margin-bottom: 30px;
        background-color: var(--team-section-background);
        border-radius: 4px;
        height: 120px;
    }

    &__sub-title {
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        line-height: 1.71;
        letter-spacing: 0.04;
        color: var(--text-color);
       
    }

}
