.works {

    &__filter-list {

        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;

        @media (max-width: 767px) {
        justify-content: start;
        
        }
    }
}




