.team {

    background-color: var(--team-section-background);


    &__title {
        @extend .section-title;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list {
        @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
    }
}
