.socials-network-set {

      
        display: flex;
        justify-content: center;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
       
        @extend %flex-centered;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: var(--icon-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link--light {
        fill: var(--white-dominant-color);
        background-color: var(--footer-socials-backgraund);
    }

    &__link:hover,
    &__link:focus {
        background-color: var(--dominant-color);
        border-radius: 50%;
        fill: var(--white-dominant-color);
    
    }
}
    

