// hero-title

.main-title {
    display: block;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

// section-title

.section-title-mobile {

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--title-color);
}

.sub-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

&--little-white {
    font-size: 14px;    
    color: var(--white-dominant-color);
        }
}



