// hero-title

.main-title {
    display: block;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

// section-title

.section-title {

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--title-color);

    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
    
        }
}

.section-title-desktop {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.sub-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;    
}



