:root {
    --dominant-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --icon-color: #afb1b8;
    --footer-translucent-text: rgba(255, 255, 255, 0.6);
    --white-dominant-color: #ffffff;
    --black-dominant-theme: #000000;
    --portfolio-background: #e5e5e5;
    --hero-background: #c4c4c4;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --team-section-background: #F5F4FA;
    --footer-backgraund: #2f303a;
    --footer-socials-backgraund: rgba(255, 255, 255, 0.1);
    --subscription-field-border: rgba(255, 255, 255, 0.3);
    --subscription-box-shadow: rgba(0, 0, 0, 0.15);
    --activities-cover-color: rgba(47, 48, 58, 0.8);
    --overlay-backgraund-color: rgba(33, 150, 243, 0.9);
    --card-set-box-shadow-first-layer: rgba(0, 0, 0, 0.12);
    --card-set-box-shadow-second-layer: rgba(0, 0, 0, 0.06);
    --card-set-box-shadow-third-layer: rgba(0, 0, 0, 0.16);
    --card-set-border-color: #eeeeee;
    --backdrop-overlay-color: rgba(0, 0, 0, 0.2);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --modal-close-btn-border-color: rgba(0, 0, 0, 0.1);
    --modal-btn-box-shadow-color:rgba(0, 0, 0, 0.15);
}